body {
    background-color: #dddde5;
}
.floating-box {
    display: inline-block;
}
/* source pour le bouton interrupteur : https://proto.io/freebies/onoff/ */
    .onoffswitch {
        position: relative; width: 48px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 45px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 12px; padding: 0; line-height: 12px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "";
        padding-left: 10px;
	/*couleurs de fond et premier plan du bouton */
        background-color: #f3a738; color: #fff; 
    }
    .onoffswitch-inner:after {
        content: "";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: -3px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 32px;
        border: 2px solid #999999; border-radius: 45px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }

/* source pour les boutons on et off : http://41mag.fr/18-exemples-de-bouton-en-css-3-inspire-par-google.html */
button {
	cursor:pointer;
}
.on {
	width:70px;
	height:70px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}
.off {
	width:70px;
	height:70px;
	background:#cc0000;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
